
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
*.xml
*.iml
*.json
templates/classroom/liste.html.twig
templates/classroom/index.html.twig
symfony.lock
src/Repository/ClubRepository.php
src/Form/AjoutType.php
composer.lock
composer.json
.env
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
templates/club/club.html.twig
symfony.lock
src/Repository/ClubRepository.php
composer.lock
composer.json
.env
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
symfony.lock
src/Repository/ClubRepository.php
composer.lock
composer.json
.env
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
symfony.lock
src/Repository/ClubRepository.php
composer.lock
composer.json
.env
templates/student/index.html.twig
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
symfony.lock
src/Repository/ClubRepository.php
composer.lock
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
symfony.lock
src/Repository/ClubRepository.php
composer.lock
*.twig
*.lock
*.php
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
*.twig
templates/club/index.html.twig
templates/club/formations.html.twig
templates/club/detail.html.twig
symfony.lock
src/Repository/ClubRepository.php
*.twig
*.php
*.lock
composer.json
*.json
*.lock
*.lock
